<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex">
      <!--dark and light mode-->
      <input type="checkbox" class="sr-only" id="darkmode-toggle">
      <label for="darkmode-toggle" class="toggle">
        <span>Toggle dark mode</span>
      </label>
    </div>
    <a class="navbar-brand" routerLink="">News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="business">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="entertainment">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="health">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="science">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="technology">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sport">Sport</a>
        </li>
      </ul>
    </div>
  </div>
</nav>