  <footer class="container-fluid bg-light text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-body-secondary py-3">
                <span>News &copy; 2024</span>
            </div>
        </div>
    </div>
</footer>
