<div class="container-fluid mt-5">
    <h4 class="text-center">Entertainment News</h4>
    <div class="row">
        <div class="col-lg-3 mt-3 mb-3" *ngFor="let enterNews of entertainmentNewsResult">
            <div class="card">
                <img [src]="enterNews.urlToImage" width="100%" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{enterNews.title}}</h5>
                    <a href="{{enterNews.url}}" target="_blank" class="btn btn-dark btn-sm-2">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>


