/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.card-title{
    font-weight: bold;
}

/*
  📣 Note: all sizes are in ems, so change the .toggle font-size to
  scale to whatever size you need.
*/


  body {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .25s;
    color: #1e1e1e;
    background: linear-gradient(to bottom right, #eefff4 25%, #a0ffd9 50%, #5c0095 75%, #01072a);
    background-size: 300% 300%;
    background-position: top left;
    transition: background-position .5s;
  }
  body,
  html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  
  body:has(#darkmode-toggle:checked) {
    background-position: 100% 100%;
    color: #000000;
  }